# maven ignore
target/
_build/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.bak
*.bkp
*.swp
~$*

# system ignore
.DS_Store
Thumbs.db
